@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  @apply bg-[#171717] p-4 text-[#C6C7C8];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
